* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.divContainer {
    vertical-align: top;
    display: inline-block;
    width: 100%;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px; /* Espaço entre os containers */
}


.bloco {
    width: 5%; /* Largura para acomodar as cinco colunas na mesma linha */
    text-align: left;
    display: inline-block;
    margin-right: 2%; /* Espaçamento entre os blocos */
}
.bloco1 {
    width: 1%; /* Largura para acomodar as cinco colunas na mesma linha */
    text-align: left;
    display: inline-block;
    margin-right: 1%; /* Espaçamento entre os blocos */
}


.bloco label {
    display: block; /* Para forçar cada label a ficar em uma nova linha */
}


/* Adicionando algum espaçamento entre os campos */
.bloco input {
    margin-bottom: 5px;
}
    .numero-pedido,
.doca {
  width: 100%;  
  font-weight: bold;
    color: blue;
}

